<launch>
    <node name="computer shell script"  type="Computer_launch.sh" pkg="launch_pkg"
    />
    <!-- Run RVIZ launch file -->
    <include file="$(find robot_description)/home/stian/GIT/Biped-Robot-Prototype/Rviz/test_01/src/robot_description/launch/display.launch"
    />

    <!-- Run RQT-->
    <node name="RQT" type="" pkg="rqt_mypkg"
</launch>