<launch>
    
    <!-- Run bash setup file-->
    <node name="ShellScript" pkg= type= />

    <!-- Launch main nodes-->
    <node name="motor" pkg= type= />
    <node name="servo" pkg= type= />
    <node name="imu" pkg= type= />
    <node name="encoder" pkg= type= />
    <node name="robot_state" pkg= type= />

</launch>